modLoader="javafml"
loaderVersion="${neo_version}"
license="LGPL-3.0-or-later"
issueTrackerURL="https://github.com/CrychicTeam/Champions/issues"
logoFile="champions_icon.png"
logoBlur=false
[[mods]]
  modId="${mod_id}"
  version="${mod_version}"
  displayName="${mod_name}"
  displayURL="https://github.com/CrychicTeam/Champions/"
  authors="C4, CrychicTeam"
  description='''${mod_description}'''
[[dependencies.${mod_id}]] #optional
  # the modid of the dependency
  modId="neoforge" #mandatory
  # The type of the dependency. Can be one of "required", "optional", "incompatible" or "discouraged" (case insensitive).
  # 'required' requires the mod to exist, 'optional' does not
  # 'incompatible' will prevent the game from loading when the mod exists, and 'discouraged' will show a warning
  type="required" #mandatory
  # Optional field describing why the dependency is required or why it is incompatible
  # reason="..."
  # The version range of the dependency
  versionRange="${neo_version_range}" #mandatory
  # An ordering relationship for the dependency.
  # BEFORE - This mod is loaded BEFORE the dependency
  # AFTER - This mod is loaded AFTER the dependency
  ordering="NONE"
  # Side this dependency is applied on - BOTH, CLIENT, or SERVER
  side="BOTH"
[[dependencies.${mod_id}]]
  modId="minecraft"
  type="required"
  # This version range declares a minimum of the current minecraft version up to but not including the next major version
  versionRange="${minecraft_version_range}"
  ordering="NONE"
  side="BOTH"
